:root{
    --font-principal: 'Open Sans', sans-serif;
    --font-Titulos-subtitulos: 'PT Sans', sans-serif;
    --font-Icono:'Lobster', cursive;
    --colorPrincipal: #206a5d;
    --colorAzul:#1f4068;
    --colorNegro:#1b1c25;
    --colorGris:#88888f;
    --colorBlanco: #fff;
}

html{
    font-size: 62.5%; /*RESET PARA REMS - 62.5% = 10px de 16px */
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: var(--font-principal);
    font-size: 1.6rem;
    line-height: 1.8;
    margin: 0;
    padding: 0;
}

/*=============================== 
    GLOBALES
=============================*/

h1,h2,h3,h4,h5{
    font-family: var(--font-Titulos-subtitulos)
}

h1{
    font-size: 6.8rem;
    margin: 0;
    font-weight: 700;
}

h2{
    font-size: 6.4rem;
    line-height: 1.2;
    font-weight: 700;
}

h3{
    font-size: 3.2rem;
}

h4{
    font-size: 2.8rem;
}

h5{
    font-size: 2.6rem;
    font-weight: 700;
}

img{
    max-width: 100%;
}

p{
    color: var(--colorGris);
    padding: 0;
    margin: 0;
}

/*=============================== 
NAVEGACION
=============================*/
.bg-principal{
    background-color: var(--colorPrincipal);
}

.nav-contenido > a{
    font-family: var(--font-Icono);
    font-size: 5rem;
}

.nav-contenido button{
    font-size: 3rem;
}

.nav-link{
    font-size: 2rem;
}

/*=============================== 
    HEADER
     =============================*/
.image-bg{
    background-image: url('../img/entrepreneur-593372_1920.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 70rem;  
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}


.contenido-header{
    color: white;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 10rem;
    
}
.contenido-header h2{
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid var(--colorBlanco);
}

.contenido-header h1{
    text-transform: uppercase;
    font-weight: 700;
}

/*=============================== 
DESCRIPCION
=============================*/

.descripcion{
    margin-top: 10rem;
    position: relative;
}

.division{
    width: 200px;
    border: 1px solid var(--colorNegro);
}

/*=============================== 
EXPERIENCIA
=============================*/
.experiencia{
    margin-top: 90px;
    margin-bottom: 90px;
}

.experiencia h2{
    font-size: 5rem;
    color: var(--colorNegro);
}

.experiencia-contenido a{
    font-size: 80px;
    color: var(--colorPrincipal);
}

.experiencia-contenido h3{
    font-weight: 700;
}

.experiencia-contenido p{
    font-size: 2rem;
}

.experiencia-icono:hover i{
    transform: scale(1.2);
}

/*=============================== 
HABILIDADES
=============================*/
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--colorBlanco);
    
}

.carousel-indicators {
    top: 100px;
}

.habilidades-iconos{
    font-size: 50px;
    color: var(--colorBlanco);
}

.habilidades{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px 0px;
    background-color: var(--colorAzul);
}

.habilidades-contenido{
    padding: 40px 0;
}

/*=============================== 
ULTIMOS TRABAJOS
     =============================*/
.bg-principal h2{
    font-size: 5rem;
}

.color-white{
    width: 200px;
    border: 1px solid var(--colorBlanco);
}

.img-trabajos{
    width:100%;
    height: 160px;
}

.enlace-trabajos{
    font-size: 12px;
    background-color: var(--colorAzul);
}

/* TOOLTIP */
.tooltip-styles{
    font-size: 12px;
    color: var(--colorBlanco);
}

/*=============================== 
CONTACTO
     =============================*/
.contacto{
    padding-top: 60px;
}
.contacto-hr{
    width: 100px;
    border: 1px solid var(--colorNegro);

}

/*=============================== 
FOOTER
     =============================*/
.footer-color{
    color: var(--colorBlanco);
    padding: 60px 0;
}

.nombre h2{
    font-family: var(--font-Icono);
    font-weight: 400;
}

.redes-sociales i{
    font-size: 6.4rem;
    color: var(--colorBlanco);
}

.redes-sociales a i:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.contenedor{
    margin: 0 auto;
    width: 70%;
}




